<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="css/style.css">
	<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
	<!-- 分页组件开始 -->
	<script src="plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	<script type="text/javascript" src="js/base_pagination.js"></script>	
	<script type="text/javascript" src="../js/service/orderService.js"></script>
	<script type="text/javascript" src="js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/controller/orderController.js"></script>
	<script type="text/javascript" src="js/selectall.js"></script>
	 
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="manicure" ng-controller="orderController">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">订单管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="发货" ng-click="updateStatus('4')"><i class="fa fa-trash-o" ></i>发货</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                  			状态：<select ng-model="searchEntity.status">
                                         	<option value="">全部</option>
									       <option value="1">未支付</option>
                                         	<option value="3">未发货</option>
                                         	<option value="4">已发货</option>
                                        </select>
											  用户名称：<input ng-model="searchEntity.userId">
							                  订单ID：<input ng-model="searchEntity.orderId">
									<button class="btn btn-default" ng-click="reloadList()">查询</button>                                    
                                </div>
                            </div>
                            <!--工具栏/-->
								
			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input name="all" id="selall" type="checkbox" class="icheckbox_square-blue" ng-click="IsSelectAll($event)">
			                              </th> 
										  <th class="sorting_asc">订单ID</th>
										  <th class="sorting">用户名</th>
									      <th class="sorting">已付款</th>
									      <th class="sorting">支付类型</th>
										  <th class="sorting">生成时间</th>
									      <th class="sorting">支付时间</th>
									      <th class="sorting">状态</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                     <tbody id="tb">
			                      
			                          <tr ng-repeat="entity in list">
									    <td><input name="id" type="checkbox" ng-click="updateSelection($event,entity.orderId)" onclick="userCheck(this)"></td>
									   	<td>{{entity.orderId}}</td>
									    <td>{{entity.userId}}</td>
									    <td>{{entity.payment}}</td>
									    <td>{{paymenyType[entity.paymentType]}}</td>
										<td>{{entity.createTime}}</td>
										<td>{{entity.paymentTime}}</td>
									    <td>
									    	{{status[entity.status]}}
									    </td>		                                  
									    <td class="text-center">
									   	  <a class="btn bg-olive btn-xs" ng-if="entity.paymentType=='1'&& entity.status=='3'" ng-click="updateOneStatus(entity.orderId,'4')">发货</a>
											<a class="btn bg-olive btn-xs" ng-if="entity.paymentType=='2'&& entity.status=='1'" ng-click="updateOneStatus(entity.orderId,'4')">发货</a>
											<a class="btn bg-olive btn-xs" ng-if="entity.status=='4'" ng-click="updateStatus('5')">交易成功</a>
										</td>
									</tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  <tm-pagination conf="paginationConf"></tm-pagination>
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
		
</body>


</html>